
body{
    background-color: beige;
    padding: 0;
    margin: 0;

}

.navbar { 
    background-color: black;
    overflow: hidden;
    background: black;
    border: black;
}


.navbar a {
    float: left;
    color: rgb(138, 15, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
} */

#content {
    margin: 40px;
}
