<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body> -->
  {% extends 'base.html' %}
  {% block title %}The Home Page{% endblock %}


  {% block content %} 
    <h1>Welcome to the Home Page!</h1>
    <p>Thank you for visiting!</p>
    <h2>Please Click the Link Below to go to the Madlib page</h2>
    <a href="http://127.0.0.1:5000/madlibform">Madlib Form Page</a>
    <a href="http://127.0.0.1:5000/story">Mablib Story Page</a>
  {% endblock %}

     <!-- <h1>Madlibs</h1>
  <form action="/story">
    {% for prompt in prompts %}
      <p>{{ prompt }}:
        <input name="{{ prompt }}">
      </p>
    {% endfor %}
    <button>Submit</button>
  </form> -->
  
<!-- </body>
</html> -->