<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mablibs Form Page</title>

</head>

<body> -->
    {% extends 'base.html' %}
    {% block title %}Mablibs Form Page{% endblock %}

    {% block content %}
    <h1>Madlibs Form Page</h1>
    <!-- Made a form for this page with the action set to the route /story which will be the output page -->
    <form action="/story">

        <!-- first attempt where the input boxes are hardcoded -->
        <!-- <p>
        <ul>
        <li>Place:<input type="text" placeholder="name of a place" name="place"></li>
        <li>Noun:<input type="text" placeholder="a noun" name='noun'></li>
        <li>Verb:<input type="text" placeholder="a verb" name='verb'></li>
        <li>Adjective:<input type="text" placeholder="an adjective" name='adjective'></li>
        <li>Pural_Noun:<input type="text" placeholder="a pural noun" name='pural_noun'></li>
        </ul>
        <button>Submit</button>
        </p> -->

        <!-- second attempt using a loop to loop over promts and create the input text and boxes -->
        {% for prompt in prompts  %}
        <ul>
            <li>{{ prompt }}: <input type="text" placeholder="{{ prompt }}" name="{{ prompt }}"></li>
        </ul>
        {% endfor %}
        <button>Submit</button>

    </form>
    {% endblock %}




<!-- </body>

</html> -->