<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mablibs Form Page</title>

</head>

<body>

    <h1>Madlibs Form Page</h1>
    <!-- Made a form for this page with the action set to madlibstory which will be the output page -->
    <form action="/story">

        <p>

        Place: <input type="text" placeholder="name of a place" name="place"><br />
        Noun: <input type="text" placeholder="a noun" name='noun'><br />
        Verb: <input type="text" placeholder="a verb" name='verb'><br />
        Adjective: <input type="text" placeholder="an adjective" name='adjective'><br />
        Pural_Noun: <input type="text" placeholder="a pural noun" name='pural_noun'><br />

        <button>Submit</button>

        </p>

    </form>

</body>

</html>