<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlib Story Page</title>
</head>
<body> -->
    {% extends 'base.html' %}
    {% block title %}Mablibs Story Page{% endblock %}

    {% block content %}
    <h1>Madlib Story Time!</h1>

    <!-- first attempt where the story is hardcoded into the html file -->
    <!-- <p>Once upon a time in a long-ago {{place}}, there lived a
       large {{adjective}} {{noun}}. It loved to {{verb}} {{pural_noun}}.</p> -->

    <!-- second attmept where  using the variable from stories to generate the story -->
    <p>{{ story_one }} {{ story_two }} {{ story_three }}</p>

    {% endblock %}
    
<!-- </body>
</html> -->